<div class="row d-flex justify-content-center">
    <div class="card col-12 my-5">
        <div class="card-body">
            <h1 class="card-title my-4 text-center">{{event_name}}</h1>
            <div class="row pt-1">
                <div class="col d-flex justify-content-end">
                    <img src="http://placekitten.com/500/400" alt="">
                </div>
                <div class="col pt-2">
                    <div class="mb-2">
                        <h5 class="d-inline">Location:</h5>
                        <p class="d-inline">{{location}}</p>
                    </div>
                    <div class="mb-2">
                        <h5 class="d-inline">Starts:</h5>
                        <p class="d-inline">{{format_time start_time}}</p>
                    </div>
                    <div class="mb-2">
                        <h5 class="d-inline">Ends:</h5>
                        <p class="d-inline">{{format_time end_time}}</p>
                    </div>
                    <div class="mb-2">
                        <h5 class="d-inline">Event Host:</h5>
                        <p class="d-inline">{{creator.user_name}}</p>
                    </div>
                    <h5>Description:</h5>
                    <p>{{description}}</p>
                </div>
            </div>
            <div class="row my-5">
                <h4 class="text-center mb-3">Backpack Items</h4>
                <div class="d-flex justify-content-center">
                    <hr class="my-2">
                    {{#each items}}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input claimCheck" type="checkbox" id={{id}} value={{item_name}} {{#if owner_id}} {{#if isBroughtByUser}} checked {{else}} checked disabled {{/if}}{{/if}}>
                        <label class="form-check-label" for={{id}}>{{item_name}}{{#if owner_id}}{{#if isBroughtByUser}}{{else}}, claimed by{{user.user_name}}{{/if}}{{/if}}</label>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="row my-5">
                <h4 class="text-center mb-3">Definately Going</h4>
                <div class="d-flex justify-content-center">
                    <hr>
                    <p class="px-2">|</p>
                    {{#each yeses}}
                    <p class="px-2">{{user_name}}</p>
                    <p class="px-2">|</p>
                    {{/each}}
                    <hr>
                </div>
            </div>
            <div class="row my-5">
                <h4 class="text-center mb-3">Maybe Going</h4>
                <div class="d-flex justify-content-center">
                    <hr>
                    <p class="px-2">|</p>
                    {{#each maybes}}
                    <p class="px-2">{{user_name}}</p>
                    <p class="px-2">|</p>
                    {{/each}}
                    <hr>
                </div>
            </div>
            <div class="row my-5">
                <h4 class="text-center mb-3">Not Going</h4>
                <div class="d-flex justify-content-center">
                    <hr>
                    <p class="px-2">|</p>
                    {{#each noes}}
                    <p class="px-2">{{user_name}}</p>
                    <p class="px-2">|</p>
                    {{/each}}
                    <hr>
                </div>
            </div>
            <div class="row my-5">
                <h4 class="text-center mb-3">Deciding</h4>
                <div class="d-flex justify-content-center">
                    <hr>
                    <p class="px-2">|</p>
                    {{#each noresponses}}
                    <p class="px-2">{{user_name}}</p>
                    <p class="px-2">|</p>
                    {{/each}}
                    <hr>
                </div>
            </div>
            <div class="d-grid gap-2 my-3">
                {{#if user.logged_in}}
                {{#unless user.isRSVP}}
                <select name="rsvp-choice" id="rsvp-choice" class="form-control">
                    <option value=1>I'm attending!</option>
                    <option value=2>I'm not attending</option>
                    <option value=3>Maybe</option>
                </select>
                <button class="btn btn-dark" id="rsvpBtn" value={{id}}>RSVP</button>
                {{else}}
                <hr>
                <h5 class="text-center">Your RSVP Status:</h5>
                <select name="rsvp-choice" id="rsvp-choice" class="form-control" status={{user.rsvp_status}}>
                    <option id="option-0" value=0>No response</option>
                    <option id="option-1" value=1>I'm attending!</option>
                    <option id="option-2" value=2>I'm not attending</option>
                    <option id="option-3" value=3>Maybe</option>
                    <option value=4>Take me off the list</option>
                </select>
                <button class="btn btn-dark" id="leaveBtn" value={{id}}>Update RSVP</button>
                {{/unless}}
                {{/if}}
            </div>
        </div>
    </div>
</div>

<script src="/js/eventbyid.js"></script>