<h1>Users you can invite for <a class="link-info" href="/eventbyid/{{curEvent.id}}">{{curEvent.event_name}}</a>:</h1>
<hr>
{{#each users}}
<li class="display-6">{{user_name}} <button class="btn btn-dark ms-4 inviteBtn" eventId="{{../curEvent.id}}" value={{id}}>Invite</button></li>
{{/each}}

<script src="/js/invite.js"></script>