{{!-- search page --}}
<div class="row">
    <div class="col">
        <h2>Upcoming Events in: {{user.searchTerm}}</h2>
    </div>
    <div class="col d-flex justify-content-end">
        <form class="d-inline-flex">
            <input type="search" class="form-control m-2" placeholder="Seattle, WA" id="searchInput">
            <button class="btn btn-dark my-2" type="submit" id="searchBtn">Search</button>
        </form>
    </div>
</div>
<hr>
<div class="row d-flex justify-content-center">
    {{#if event}}
    {{#each event}}
    <div class="card col-12 col-md-5 my-3 mx-3 p-2">
        <img src={{picture_path}} class="card-img-top" width="500" height="360" alt={{picture_path}}>
        <div class="card-body">
            <h2 class="card-title  mt-2 mb-3 text-center">{{event_name}}</h2>
            <h5 class="text-center">{{format_time start_time}}</h5>
            <div class="d-flex justify-content-center">
                <a class="text-center link-dark" href="https://maps.google.com/?q={{location}},+{{city}},+{{state}}"
                    target="_blank">{{location}}<br>{{city}}, {{state}}</a>
            </div>
            <div class="d-grid gap-2 mt-3 mb-1">
                <a class="btn btn-dark" href="/eventbyid/{{id}}">Event Details</a>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    <h2>No Results</h2>
    {{/if}}
</div>
<script src="/js/search.js"></script>