{{!-- update event page --}}
<div class="row mt-5">
    <h1>Welcome, {{user.user_name}}!</h1>
    <div class="card col-12 my-5">
        <div class="card-body">
            <h2 class="card-title  mt-2 mb-3">Update Event</h2>
            <form>
                <div class="mb-3">
                    <label for="eventName" class="form-label">Event Name</label>
                    <input class="form-control" id="eventName" value="{{eventUpdate.event_name}}">
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Address</label>
                    <input class="form-control" id="location" value="{{eventUpdate.location}}">
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input class="form-control" id="city" value="{{eventUpdate.city}}">
                </div>
                <div class="mb-3">
                    <label for="state" class="form-label">State</label>
                    <input class="form-control" id="state" value="{{eventUpdate.state}}">
                </div>
                <div>
                    <img id="uploadedimage" src={{eventUpdate.picture_path}} width="500"></img>
                </div>
                <div class="mb-3">
                    <button for="formFile" id="upload_widget" class="form-label, cloudinary-button">Upload
                        Image</button>
                </div>

                <div class="row mb-3">
                    <label for="startTime" class="form-label">Start Time</label>
                    <input type="datetime-local" class="form-control" value="{{format_time_value eventUpdate.end_time}}"
                        value="" aria-label="startTime" id="startTime">
                </div>

                <div class="row mb-3">
                    <label for="endTime" class="form-label">End Time</label>
                    <input type="datetime-local" class="form-control" value="{{format_time_value eventUpdate.end_time}}"
                        aria-label="endTime" id="endTime">
                </div>
        </div>

        <div class="mb-3">
            <label for="backpackItems" class="form-label">Backpack Items</label>

            <ul>
                {{#eventUpdate.items}}
                <li>
                    <img class="deleteItem" src="/images/trash.png" value={{id}} name={{event_id}} width="2%"
                        height="2%">
                    {{item_name}}
                </li>
                {{/eventUpdate.items}}
            </ul>


            <div class="mb-3">
                <label for="newItem" class="form-label">New Item</label>
                <input class="form-control" id="newItem">
                <button class="newItemBtn" value={{eventUpdate.creator_id}} name={{eventUpdate.id}}> Add
                    Item
                </button>
            </div>
        </div>
        <div>
            <label for="eventType" class="form-label">Event Type</label>
            <div>

                {{#if eventUpdate.public}}
                <input type="radio" name="eventType" value="1" id="public" checked="checked">
                <label for="public">Public </label>
                <input type="radio" name="eventType" value="0" id="private">
                <label for="private">Private</label>
                {{else}}
                <h1>test</h1>
                <input type="radio" name="eventType" value="1" id="public">
                <label for="public">Public </label>
                <input type="radio" name="eventType" value="0" id="private" checked="checked">
                <label for="private">Private</label>
                {{/if}}
            </div>
        </div>

        <div class="mb-3">
            <label for="startDate" class="form-label">Event Description</label>
            <textarea class="form-control" id="eventDescription" rows="6"
                placeholder="More details...">{{eventUpdate.description}}</textarea>
        </div>

        <div class="d-grid gap-2 my-3">
            <button type="button" class="btn btn-dark" id="updateEventSubmit" value={{eventUpdate.id}}>Update</button>
        </div>
        </form>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!-- jQuery UI <script> tag -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<script src="/js/updateEvent.js"></script>